$greyDarkStrong : #333;
$greyDark : #333;
$greyMiddle : #777;
$greyLight : #cccccc;
$blue : #99c9fd;
$white: #FFFFFF;
$yellow : #FCC900;

/* special */
$pokeShadow : #adadad;
$greyBlue : #dde9eb;
$greyOrange : #ECE9E6;

/* classification */


/* types / weakness / resistant */

$Dragon-color : #7038F8;
$Bug-color : #A8B820;
$Water-color : #6890F0;
$Electric-color : #F8D030;
$Grass-color  : #78C850;
$Fighting-color : #C03028;
$Fairy-color : #EE99AC;
$Dark-color : #705848;
$Fire-color : #F08030;
$Flying-color : #A890F0;
$Ghost-color : #705898;
$Ground-color : #E0C068;
$Ice-color : #98D8D8;
$Normal-color : #A8A878;
$Poison-color : #A040A0;
$Psychic-color : #F85888;
$Rock-color : #B8A038;
$Steel-color : #B8B8D0;



